extends ../layout
block styles
    link(rel="stylesheet", href="/stylesheets/dashboard.css")

block content
    .dashboard
        include user-layout                
        .dashboard-cont
            .top-cont
                .personal-info
                    h1.acount-header اطلاعات شخصی
                    table
                        tr
                            th 
                                .title نام و نام خانوادگی:
                                .text= user.fullname
                            th 
                                .title پست الکترونیکی:
                                .text= user.email
                        tr
                            td 
                                .title شماره تماس:
                                .text= user.phone
                            td 
                                .title دریافت خبرنامه:
                                .text خیر
                    a.edit-link(href="#")
                        .edit-link-pad
                            i.fa.fa-edit.link-icon
                            | ویرایش اطلاعات شخصی
                .last-classs
                    h1.acount-header آخرین سفارش ها
                    .classs-pad
                        h1.no-class هنوز سفارشی ثبت نشده
                    a.edit-link(href="#")
                        .edit-link-pad
                            i.fa.fa-edit.link-icon
                            | مشاهده آخرین سفارش ها
            .bottom-cont
                h1.acount-header کاربرها
                table.users
                    tr
                        th نام و نام خانوادگی
                        th نام کاربری
                        th پست الکترونیکی
                        th تلفن
                        th نقش
                        th ارتقا
                    - users.forEach(oneUser => {
                    tr
                        td= oneUser.fullname
                        td= oneUser.uname
                        td= oneUser.email
                        td= oneUser.phone
                        td= oneUser.role
                        td
                            a.change-role-link(href=`/upgrade?uname=${oneUser.uname}`) تغییر
                    - });
    script(src="/javascripts/dashboard.js")