extends ../layout
block styles
    link(rel="stylesheet", href="/stylesheets/dashboard.css")

block content
    .dashboard
        include user-layout                
        .dashboard-cont
            .top-cont
                .personal-info
                    h1.acount-header اطلاعات شخصی
                    table
                        tr
                            th 
                                .title نام و نام خانوادگی:
                                .text= user.fullname
                            th 
                                .title پست الکترونیکی:
                                .text= user.email
                        tr
                            td 
                                .title شماره تماس:
                                .text= user.phone
                            td 
                                .title نام کاربری:
                                .text= user.uname
                    a.edit-link(href="#")
                        .edit-link-pad
                            i.fa.fa-edit.link-icon
                            | ویرایش اطلاعات شخصی
                .last-classs
                    h1.acount-header کلاس های من
                    .classs-pad
                        - if(classes.length < 1){
                            h1.no-class هنوز کلاسی ثبت نشده
                        - }else{
                            - for(var i=0; i<classes.length ; i++){
                                 a(href="/classes/#{classes[i].className}")
                                    .class
                                        .imgpad
                                            img(src="/images/class.png")
                                        .textpad
                                            .className کلاس #{classes[i].className2}
                                            .term ترم #{classes[i].term}
                                        .state= classes[i].state
                            - }
                        - }
                        
                    a.edit-link(href="#")
                        .edit-link-pad
                            i.fa.fa-plus.link-icon
                            | ثبت نام کلاس جدید
            .bottom-cont
                h1.acount-header آخرین اخبار
    script(src="/javascripts/dashboard.js")