extends layout

block content
    link(rel='stylesheet', href='/stylesheets/dashboard-admin.css')
    script(src="/javascripts/dashboard-admin.js")
    .dashboard 
        .tab
            button.tablink(id="btn1") کاربرها
            button.tablink(id="btn2") کلاس ها
            button.tablink(id="btn3") Juniorcup2020
            button.tablink(id="btn4") مالی
            button.tablink(id="btn5") تنظیمات حساب کاربری
            
        .tabcontent(id="tab1")
            table.users
                tr
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                    th تلفن
                    th نوع حساب
                -for(var i = 0; i<users.length; i++){
                tr
                    td #{users[i].fullname}
                    td #{users[i].uname}
                    td #{users[i].email}
                    td #{users[i].phone}
                    td 
                        | #{users[i].role}
                        a.admin(href='/upgrade?uname=#{users[i].uname}') ارتقا
                -}

        .tabcontent(id="tab2")
            h1.className کلاس رباتیک
            table.users
                tr
                    th ردیف
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                -for(var i = 0; i<roboticClass.length; i++){
                tr
                    td #{i+1}
                    td #{roboticClass[i].fullname}
                    td #{roboticClass[i].uname}
                    td #{roboticClass[i].email}
                -}
            
            h1.className کلاس برنامه نویسی کامپیوتر
            table.users
                tr
                    th ردیف
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                -for(var i = 0; i<computerClass.length; i++){
                tr
                    td #{i+1}
                    td #{computerClass[i].fullname}
                    td #{computerClass[i].uname}
                    td #{computerClass[i].email}
                -}
            
            h1.className کلاس الکترونیک و مدار
            table.users
                tr
                    th ردیف
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                -for(var i = 0; i<electronicClass.length; i++){
                tr
                    td #{i+1}
                    td #{electronicClass[i].fullname}
                    td #{electronicClass[i].uname}
                    td #{electronicClass[i].email}
                -}
        .tabcontent(id="tab3")
            h1.className درخواست های همکاری:
            table.users
                tr
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                    th تلفن
                    th سابقه
                    th موارد همکاری
                -for(var i = 0; i<juniorcup.length; i++){
                tr
                    td #{juniorcup[i].fullname}
                    td #{juniorcup[i].uname}
                    td #{juniorcup[i].email}
                    td #{juniorcup[i].phone}
                    td #{juniorcup[i].reputation}
                    td 
                        -if(juniorcup[i].advertise){
                        | تبلیغات
                        br
                        -}
                        -if(juniorcup[i].documentation){
                        | مستند سازی
                        br
                        -}
                        -if(juniorcup[i].place){
                        | آماده سازی محل مسابقات
                        br
                        -}
                        -if(juniorcup[i].referee){
                        | داوری لیگ ها
                        br
                        -}
                        -if(juniorcup[i].staff){
                        | کادر اجرایی
                        br
                        -}
                        -if(juniorcup[i].web){
                        | طراحی وب
                        br
                        -}
                        -if(juniorcup[i].design){
                        | طراحی گرافیکی
                        br
                        -}
                        
                -}
        .tabcontent(id="tab4")
            h1 4
        .tabcontent(id="tab5")
            h1 5
        