extends layout

block content
    link(rel='stylesheet', href='/stylesheets/dashboard-teachers.css')
    script(src="/javascripts/dashboard-admin.js")
    .dash
        img(src="/images/img-03.jpg", alt="img")
        h1 به پنل کاربری خود خوش آمدید
    .dashboard 
        .tab
            button.tablink(id="btn1") کلاس ها
            button.tablink(id="btn2") جزوه ها و فیلم های آموزشی
            button.tablink(id="btn3") مالی
            button.tablink(id="btn4") ارزیابی دانش آموزان
            button.tablink(id="btn5") تنظیمات حساب کاربری
        
        .tabcontent(id="tab1")
            h1.className کلاس رباتیک
            table.users
                tr
                    th ردیف
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                -for(var i = 0; i<roboticClass.length; i++){
                tr
                    td #{i+1}
                    td #{roboticClass[i].fullname}
                    td #{roboticClass[i].uname}
                    td #{roboticClass[i].email}
                -}
            
            h1.className کلاس برنامه نویسی کامپیوتر
            table.users
                tr
                    th ردیف
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                -for(var i = 0; i<computerClass.length; i++){
                tr
                    td #{i+1}
                    td #{computerClass[i].fullname}
                    td #{computerClass[i].uname}
                    td #{computerClass[i].email}
                -}
            
            h1.className کلاس الکترونیک و مدار
            table.users
                tr
                    th ردیف
                    th نام و نام خانوادگی
                    th نام کاربری
                    th ایمیل
                -for(var i = 0; i<electronicClass.length; i++){
                tr
                    td #{i+1}
                    td #{electronicClass[i].fullname}
                    td #{electronicClass[i].uname}
                    td #{electronicClass[i].email}
                -}
            
        .tabcontent(id="tab2")
            a.no-decoration(href="/booklets/arm")
                .content-tutorial
                    img.tutorial-img(src="/images/arm.jpeg")
                    h1.title میکروکنترلر های ARM
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۹ اسفند ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 198
            a.no-decoration(href="/booklets/gy25")
                .content-tutorial
                    img.tutorial-img(src="/images/gy25.jpeg")
                    h1.title ماژول GY-25
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۷ اسفند ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 103
            a.no-decoration(href="/booklets/pixy")
                .content-tutorial
                    img.tutorial-img(src="/images/pixy.jpg")
                    h1.title دوربین پردازش تصویر pixy
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۷ اسفند ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 103
            a.no-decoration(href="/booklets/php")
                .content-tutorial
                    img.tutorial-img(src="/images/tutorials/php.jpg")
                    h1.title طراحی وب PHP
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۲۵ بهمن ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 103
            a.no-decoration(href="/booklets/bootstrap")
                .content-tutorial
                    img.tutorial-img(src="/images/bootstrap.jpg")
                    h1.title طراحی وب Bootstrap
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۲۰ بهمن ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 103
            a.no-decoration(href="/booklets/htmlcss")
                .content-tutorial
                    img.tutorial-img(src="/images/htmlcss.jpg")
                    h1.title طراحی وب HTML و CSS
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۲۰ بهمن ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 103
            a.no-decoration(href="/booklets/nodejs")
                .content-tutorial
                    img.tutorial-img(src="/images/tutorials/nodejs.png")
                    h1.title طراحی وب Node JS
                    p.tutorial-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                    table
                        td
                            .tutorial-date ۲۰ بهمن ماه ۱۳۹۸
                        td
                            .tutorial-seen 
                                i(class="fa fa-eye")  
                                | 103
            
        .tabcontent(id="tab3")
            h1 3
        .tabcontent(id="tab4")
            h1 4
        .tabcontent(id="tab5")
            form(action="/users/change_username")
                label(for="uname")
                    b تغییر نام کاربری:
                br
                input(type="text" placeholder="نام کاربری جدید" name="uname")
                button(type="submit") تغییر
                br
            form(action="/users/change_email")
                label(for="uname")
                    b تغییر پست الکترونیکی:
                br
                input(type="email" placeholder="پست الکترونیکی جدید" name="email")
                button(type="submit") تغییر
                br
            
            form(action="/users/change_password")
                label(for="uname")
                    b تغییر رمز عبور:
                br
                input(type="text" placeholder="رمز عبور قبلی" name="oldpass")
                br
                input(type="text" placeholder="رمز عبور جدید" name="pass")
                br
                input(type="text" placeholder="تکرار رمز عبور جدید" name="pass1")                    
                button(type="submit") تغییر
                br
    
        