extends education_layout

block info
    h1.contentheader= education.title
    .education-info
        .infotext مدرس: #{education.producer}
        .infotext تاریخ انتشار: #{education.date}
        .infotext تعداد جلسات: #{education.session}
        //- .infotext زمان: #{education.time} ساعت
    .description
        h1.title توضیحات:
        p.text #{education.description}

block photo
    - if(user && user.role != 'student'){
        a#imguploadlink.imguploadlink(href=`/education/upload-image?name=${education.name}`)
            img.imgupload(src=`/education/${education.picture}`)
            #imguploadtext.imguploadtext 
                | Upload  
                i(class="fa fa-upload")
    - }
    - else 
        img(src=`/education/${education.picture}`)

block links
    - for(var i=0; i<education.videoURL.length; i++){
        .session
            h1.title= education.videoURL[i].title
            video(src=`${education.videoURL[i].link}` controls)
            //- div(id="64746959596")
            //-     script(type="text/JavaScript" src="#{education.videoURL[i].link}?data[rnddiv]=64746959596&data[responsive]=yes")
    - }
    - if(user.role == 'admin'){
        .add-video-panel
            h1.title افزودن جلسه
            form.add-video(action=`/education/add-video` method="POST")
                input.noDisplay(type="text" name="name" value=`${education.name}`)
                label(for="title") عنوان
                input.textinput(type="text" name="title" placeholder="Title" required)
                label(for="link") لینک
                input.textinput(type="text" name="link" placeholder="Title" required)
                input.submit(type="submit" value="افزودن جلسه جدید")
    - }