extends education_layout

block info
    h1.contentheader= education.name
    .infotext مدرس: #{education.producer}
    .infotext تاریخ انتشار: #{education.date}
    .infotext تعداد جلسات: #{education.sesion}
    .infotext زمان: #{education.time} ساعت
    .infotext توضیحات:
        br
        p #{education.description}

block photo
    img(src=`/education/${number}.jpg`)

block video
    video(src=`/education/${number}.mp4` controls)

block links
    - var alphaNum = ['اول','دوم','سوم' ,'چهارم','پنجم','ششم','هفتم','هشتم','نهم','دهم'];
    h2 دانلود فایل جلسات:
    - for(var i = 0; i < education.files ; i++){
        a(href=`/education/${number}_${i+1}.rar` download) جلسه #{alphaNum[i]}
    - }
    